.carousel-item img{
    height: 70vh;
    object-fit: cover;
}

.product .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:rgb(0,0,0,0.1)!important;
    font-size: small;
    color: red !important;
    
}

img{
    width: 15rem;
    height: 25rem;
}

.row{
    margin-top: 2rem;
}

.logo> img{
    width: 3rem;
    height: 3rem;
}
#contact{
   background-color: #dc3545;
}

.map{
    height: 20rem;
    width: 100%;
}
 
#franchise{
    background-color: #f4cfd5;
}

.logo2{
    width: 5rem;
    height: 5rem;
}

#items{
    font-size: 30px;
}

#items >a {
    text-decoration: none;
    color:white
}

#footer1{
    background-color:  #dc3545;
}
